{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="shortcut icon" href="{% static 'img_icon.png' %}" type="image/x-icon">
    <title>{% block title %}Profile Page{% endblock title %}</title>
    
    <h1 class="text-center text-warning">
        <span class="text-danger">&larr; Welcome </span> To Profile Page &rarr;
    </h1>
    <br>
    
    <div class="container p-5 text-center" style="border: 2px solid rgb(0, 166, 255); width: 300px; height: 200px; border-radius: 10px;">
        <a class="btn btn-primary" href="{% url 'edit_profile' %}" style="margin: 30px;">Edit Your Profile</a>
    </div>
    <br>
    
    <div class="col-12 p-3 text-white" style="border: 2px solid rgb(0, 166, 255); border-radius: 10px;">
        <h3 class="text-center">Order History</h3>
        <table class="table mt-3">
            <thead class="text-white">
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Car Title</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if history %}
                    {% for item in history %}
                        <tr class="text-white">
                            <th scope="row">{{ item.car_model.brand }}</th>
                            <td>{{ item.car_model.title }}</td>
                            <td>{{ item.purchase_date }}</td>
                            <td>{{ item.net_quantity }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center text-white">No Orders Yet</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}
