{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<link rel="shortcut icon" href="{% static 'img_icon.png' %}" type="image/x-icon">
<title>{% block title %}Post Add Page{% endblock title %}</title>
<form style="width: 50%; margin:auto;" method="post">
    <h1 class="text-center text-info">Add Post Pages</h1>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-warning text-white">Submit</button>
</form>
{% endblock content %}